In [1]:
import pandas as pd
Location = "C:/Users/Trang Le/OneDrive/Desktop/datasets/gradedata.csv"
df = pd.read_csv(Location)
df.head()

,fname,lname,gender,age,exercise,hours,grade,address
0,Marcia,Pugh,female,17,3,10,82.4,"9253 Richardson Road, Matawan, NJ 07747"
1,Kadeem,Morrison,male,18,4,4,78.2,"33 Spring Dr., Taunton, MA 02780"
2,Nash,Powell,male,18,5,9,79.3,"41 Hill Avenue, Mentor, OH 44060"
3,Noelani,Wagner,female,14,2,7,83.2,"8839 Marshall St., Miami, FL 33125"
4,Noelani,Cherry,female,18,4,15,87.4,"8304 Charles Rd., Lewis Center, OH 43035"

In [10]:
def score_to_numeric(x):
    if x=='female':
        return 1
    if x=='male':
        return 0
df['GenderinNumericValue'] = df['gender'].apply(score_to_numeric) 
df.tail()

,fname,lname,gender,age,exercise,hours,grade,address,GenderinNumericValue
1995,Cody,Shepherd,male,19,1,8,80.1,"982 West Street, Alexandria, VA 22304",0
1996,Geraldine,Peterson,female,16,4,18,100.0,"78 Morris Street, East Northport, NY 11731",1
1997,Mercedes,Leon,female,18,3,14,84.9,"30 Glenridge Rd., Bountiful, UT 84010",1
1998,Lucius,Rowland,male,16,1,7,69.1,"342 West Meadowbrook Lane, Helena, MT 59601",0
1999,Linus,Morris,male,19,4,10,79.6,"81 Homestead Drive, Voorhees, NJ 08043",0

In [11]:
import statsmodels.formula.api as sm
result = sm.ols(
 formula='grade ~ exercise + hours + GenderinNumericValue',
 data=df).fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  grade   R-squared:                       0.665
Model:                            OLS   Adj. R-squared:                  0.664
Method:                 Least Squares   F-statistic:                     1318.
Date:                Tue, 13 Oct 2020   Prob (F-statistic):               0.00
Time:                        22:26:06   Log-Likelihood:                -6299.3
No. Observations:                2000   AIC:                         1.261e+04
Df Residuals:                    1996   BIC:                         1.263e+04
Df Model:                           3
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
Intercept               58.3145      0.464    125.769      0.000      57.405      59.224
exercise                 0.9840      0.089     11.073      0.000       0.810       1.158
hours                    1.9170      0.031     61.628      0.000       1.856       1.978
GenderinNumericValue     0.4476      0.253      1.770      0.077      -0.048       0.943
==============================================================================
Omnibus:                      322.999   Durbin-Watson:                   2.048
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2244.206
Skew:                          -0.566   Prob(JB):                         0.00
Kurtosis:                       8.064   Cond. No.                         45.3
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [ ]:
#Yes, R-squared did improve from 0.664 to 0.665 after adding the numeric value of gender.